<!DOCTYPE html>
<html>
<head>
<style>
    body {
  background-image: url("../images/elevator.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<title>ES</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body >

<form class="w3-container w3-card-4" action="http://127.0.0.1:3000/set" style="width:20%;margin-left:40%;margin-top:20%">
  <h2 class="w3-text-deep-purple">Elevator Simulation</h2>
  <p>Enter Number of Floors.</p>
  <p>      
  <label class="w3-text-deep-purple"><b>Floors</b></label>
  <input class="w3-input w3-border" name="floor" type="number" min = "3"></p>
  <p>      
  <button class="w3-btn w3-deep-purple">Construct</button></p>
</form>

</body>
</html> 
